<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<link rel="stylesheet" type="text/css" href="css/aui.css" />
	</head>

	<body>
		<header class="aui-bar aui-bar-nav" id="aui-header">
			<div class="aui-title" id="yiyang">逸扬国际</div>
		</header>
		<div class="aui-content con-margin-b">
			<!--
        	作者：kangjie1209@163.com
        	时间：2017-11-14
        	描述：搜索区域
        -->
			<div class="aui-searchbar" id="search">
				<div class="aui-searchbar-input aui-border-radius">
					<i class="aui-iconfont aui-icon-search"></i>
					<input type="search" placeholder="请输入订单号" id="keyWords" name="keyWords">
					<div class="aui-searchbar-clear-btn">
						<i class="aui-iconfont aui-icon-close"></i>
					</div>
				</div>
				<div class="aui-searchbar-btn" tapmode><span id="cancel">取消</span></div>
			</div>
			<!--
            	作者：kangjie1209@163.com
            	时间：2017-11-30
            	描述：数据列表
            -->
			<div class="mui-scroll" id="list" style="text-align:center;">
                                                                  输入订单号查询订单
			</div>
		</div>

		<!--
        	作者：kangjie1209@163.com
        	时间：2017-11-14
        	描述：内容区域
        -->
		<script type="text/template" id="tpl">
			<!--
            	作者：kangjie1209@163.com
            	时间：2017-11-30
            	描述：中文处理
            -->
			
			<% _.each(list, function(order, i){ %>
			<ul class="aui-list aui-list-in aui-margin-t-5 aui-margin-b-15" tapmode onclick="goToPageParm('wuliu_zh','<%=order.id%>','<%=order.orderNo%>')">
				<li class="aui-list-header">
					<div class="aui-card-list-user-name">
						<div id="orderNo">
							<%=order.orderNo%>
						</div>
						
					</div>
				</li>
				<li class="aui-list-item aui-padded-t-5">
					<div class="aui-list-item-label"><span class="fhfs_zh">发货方式</span>：
						<%=order.deliveryWay%>
					</div>
					<div class="aui-list-item-label"><span class="fhrq_zh">发货日期</span>：
						<%=order.issuanceDate%>
					</div>
				</li>
				<li class="aui-list-item">
					<div class="aui-list-item-label"><span class="zl">重量</span>：
						<%=order.weight%>kg</div>
					<div class="aui-list-item-label"><span class="tiji">体积</span>：
						<%=order.volume%>m³</div>
				</li>
				<li class="aui-list-item aui-padded-b-5">
					<p>
						<%=order.orderLogistics.remarks%>
					</p>
				</li>
			</ul>
			<% }) %>
		</script>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/tp.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/yiyang/search_zh.js"></script>
	<script type="text/javascript">
		var searchBar = document.querySelector(".aui-searchbar");
		var searchBarInput = document.querySelector(".aui-searchbar input");
		var searchBarBtn = document.querySelector(".aui-searchbar .aui-searchbar-btn");
		var searchBarClearBtn = document.querySelector(".aui-searchbar .aui-searchbar-clear-btn");
		var search = "搜索";
		var cancel = "取消";
		
		if(searchBar) {
			searchBarInput.onclick = function() {
				searchBarBtn.style.marginRight = 0;
			}
			searchBarInput.oninput = function() {
				if(this.value.length) {
					searchBarClearBtn.style.display = 'block';
					searchBarBtn.classList.add("aui-text-info");
					searchBarBtn.textContent = search;
					//queryOrderList(1);
				} else {
					searchBarClearBtn.style.display = 'none';
					searchBarBtn.classList.remove("aui-text-info");
					searchBarBtn.textContent = cancel;
				}
			}
		}
		searchBarClearBtn.onclick = function() {
			this.style.display = 'none';
			searchBarInput.value = '';
			searchBarBtn.classList.remove("aui-text-info");
			searchBarBtn.textContent = cancel;
			//queryOrderList(1);
		}
		searchBarBtn.onclick = function() {
			var keywords = searchBarInput.value;
			if(keywords.length) {
				searchBarInput.blur();
				document.getElementById("keyWords").textContent = keywords;
				queryOrderList(1);
			} else {
				this.style.marginRight = "-" + this.offsetWidth + "px";
				searchBarInput.value = '';
				searchBarInput.blur();
			}
		}
	</script>

</html>