<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="css/aui.css" />
</head>
<body>
    <header class="aui-bar aui-bar-nav" id="aui-header">
        <a class="aui-btn aui-pull-left" tapmode onclick="back()">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title" id="wuliu_detail">物流详情</div>
    </header>
    <section class="aui-content">
       <ul class="aui-list aui-media-list">
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width: 72px">
                        <img src="image/logo.png">
                    </div>
                     <div class="aui-list-item-inner">
                        <!--<div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-font-size-18">逸扬国际</div>
                        </div>-->
                        <div class="aui-list-item-text" style="line-height: 25px;margin-top: 20px;">
                            <div><span id="orderNo">单号</span>:<span id="orderNumber" style="margin-left:0px;"></span></div>
                        </div>
                        <!-- <div class="aui-btn aui-btn-info aui-btn-outlined"><span id="orderDetail">运单详情</span></div> -->
                    </div>
                </div>
            </li>
        </ul>
       <div class="aui-margin-t-10 aui-padded-t-15" style="background: #fff">
			<div class="aui-timeline" id="list">
			</div>
		</div>
    </section>
    
     <script type="text/template" id="tpl">
         	<% _.each(list, function(logistics, i){ %>
				<div class="aui-timeline-item">
					<div class="aui-timeline-item-label">
						<%=logistics.time%>
					</div>
					<div class="aui-timeline-item-inner" style="min-height: 100px;">
						<div class="aui-card-list">
							<div class="aui-card-list-content-padded">
								<div><%=logistics.remarks%></div>
								<div style="line-height: 20px;">
									 <% if(logistics.type == "5"){ %>
									 	Расписка в получении товара, спасибо за использование Международного Иян, с нетерпением ждем снова Вас для обслуживания
									 <% } %>
									 
									 <% if(logistics.type == "4"){ %>
									 	Растаможка завершена, по предварительным рассчета товар попадет в Ваши руки <%=time%>
									 <% } %>
									 
									 <% if(logistics.type == "3"){ %>
										Уже пропущена китайской таможней, в настоящее время направлена на растаможку по месту назначения									 <% } %>
									 
									 <% if(logistics.type == "2"){ %>
										Уже прибыла в выездной порт, в настоящее время проходит таможенненное оформление									 <% } %>
									 <% if(logistics.type == "1"){ %>
									    Уже загруженная машина отправлена в выездной порт									 
									 <% } %>
									</div>
							</div>
						</div>
					</div>
				</div>
		<% }) %>
	</script>
</body>
<script type="text/javascript" src="js/mui.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="js/jquery.i18n.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/yiyang/wuliu.js"></script>
</html>